################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reading Outlook Mails/Console_App/KYCChecks_MailBox_Mails_Console - V1(VS 2022)/.vs/Mails_Console/FileContentIndex/bc95637d-7a8e-4cfa-ac9a-e4920740d246.vsidx
/Reading Outlook Mails/Console_App/KYCChecks_MailBox_Mails_Console - V1(VS 2022)/.vs/Mails_Console/FileContentIndex/a4764c9d-e869-4d32-9fd9-5bca487b50bc.vsidx
